.footer-container {
  display: flex;
  height: 200px;
  width: 100%;
  background: #9fbef1;
  flex-direction: column;
  align-items: center;
  color: #1e2fa2;
  margin-top: 100px;
}
.footer-container p {
  font-size: 15px;
  margin-top: 27px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  max-width: 1080px;
  height: 45%;
  border-bottom: 1px solid #cddcf5;
}

.footer-links {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-links a {
  padding: 20px;
  font-size: 40px;
  color: #1e2fa2;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-countries {
  height: 100%;
  display: flex;
  flex: 0 0.9 240px;
  align-items: center;
}
.fa-globe-americas {
  position: absolute;
  transform: translateX(12px);
  font-size: 19px;
}
.fa-arrows-alt-v {
  transform: translateX(-22px);
}
.footer-dropdown {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  flex: 0 1 240px;
  height: 40px;
  padding-left: 40px;
  font-size: 15px;
  color: #1e2fa2;
  background: #9fbef1;
  border: 1px solid #cddcf5;
}
.footer-dropdown option {
  appearance: none;
  -webkit-appearance: none;
}
.footer-dropdown:after {
  appearance: none;
  -webkit-appearance: none;
}
.fa-copyright {
  font-size: 12px;
}
.footer-logo {
  height: 30px;
  width: 30px;
}
