.navbar {
  display: flex;
  position: relative;
  height: 59px;
  border-bottom: 1px solid #dbdae3;
  font-size: 16px;
  justify-content: space-between;
  /* overflow: hidden; */
  flex-wrap: nowrap;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-logo {
  width: 100px;
  height: 20px;
  padding: 0 24px 0 20px;
}

.navbar-middle {
  display: flex;
  flex: 2 1 400px;
}
.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
}
.fa-search {
  color: #a9a8b2;
  margin: 8px 14px 8px 20px;
}
.search-input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  display: block;
  border: 0;
  margin: 8px 12px 6px 0;
  padding: 9px 1px 9px 1px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
}
.search-input:focus {
  outline: none;
}

.navbar-right {
  display: flex;
  flex: 1 0 200px;
}
.navbar-right-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  height: 59px;
}
.navbar-right-list li {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}
.navbar-right-list li:hover {
  cursor: pointer;
}
.navbar-right-list li a {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  color: #797c90;
}
.navbar-right-list li a:hover {
  color: #39364f;
}
.fa-user-circle {
  font-size: 22px;
  /* color: #2416a1; */
  padding: 0 18px 0 0;
}
.fa-chevron-down {
  font-size: 12px;
  color: #c2c2cb;
}
#createEvent {
  color: #2416a1;
}
