.signup-form-container,
.login-form-container,
.session-form-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: calc(81vh - 240px);
}

.signup-form-container > form,
.login-form-container > form,
.session-form-container > form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex: 0 0 320px;

}

.signup-form-container > form h2,
.login-form-container > form h2,
.session-form-container > form h2{
  font-size: 24px;
  margin: 25px 0 0;
  
}

.signup-form-container > form p,
.login-form-container > form p,
.session-form-container > form p{
  font-size: 14px;
  margin: 8px 0 32px;
  color: #8b8e9f;

}

.signup-form-input,
.login-form-input,
.session-form-input{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  display: block;
  /* margin: 8px 12px 6px 0; */
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
  border: 1px solid #DBDAE4;
  padding: 12px;
  height: 22px;
  
}

.edit-email-button{
  position: absolute;
  height: 40px;
  width: 40px;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  transform: translateX(270px);
  background: #f8f7fa;
  outline: none;
 
}

.fa-pencil-alt{
  font-size: 16px;
  color: #4b4c63;
}

.signup-form-input-fname,
.signup-form-input-lname,
.signup-form-container > form > div,
.login-form-container > form > div,
.session-form-container > form > div{
  display: flex;
  height: 46px;
  align-items: flex-start;
  width: 100%;
  border-radius: 1px;
}

.signup-name-container{
  margin-top: 20px;
}
.signup-form-input-fname{
  padding-right: 8px;
}
.signup-form-input-lname{
  padding-left: 8px;
}


.signup-form-input-fname > label,
.signup-form-input-lname > label,
.signup-form-input-password > label,
.login-form-input-password > label,
.session-form-container > form > div label{
  padding-left: 12px;
  position: absolute;
  transition: all 0.1s ease-in;
  transform: translateY(16px);
  pointer-events: none;
  color: #797c90;
  font-weight: 300;
}

.signup-form-input:focus,
.login-form-input:focus,
.session-form-input:focus{
  outline: 2px solid #3759E4;
  padding: 16px 12px 7px 12px;
}

.signup-form-input.active,
.login-form-input.active,
.session-form-input.active{
  padding: 16px 12px 7px 12px;    
}

.signup-form-input:focus + label,
.login-form-input:focus + label,
.session-form-input:focus + label,
.signup-form-input.active + label,
.login-form-input.active + label,
.session-form-input.active + label{
  color: #3D5FE5;
  font-size: 12px;
  transform: translateY(5px);
}

.demo-login-button,
.signup-form-submit,
.login-form-submit,
.session-form-submit{
  appearance: none;
  -webkit-appearance: none;
  margin-top: 24px;
  height: 44px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1F2FA3;
  outline: 0;
}


.demo-login-button{
  border: 1px solid #1F2FA3;
  background: white;
  color: #1F2FA3;
}

.login-logo,
.signup-logo,
.session-logo{
  display: flex;
  align-self: center;
  height: 48px;
  width: 48px;
}

.signup-form-input-password,
.login-form-input-password{
  margin-top: 20px;
}

#signup-form-input-container,
#login-form-input-container{
  display: flex;
  align-items: center;
}

#signup-form-input-email,
#login-form-input-email{
  background: #f8f7fa;
  color: #a9a8b3;
}

#signup-form-input-email:focus,
#login-form-input-email:focus{
  outline: 0;
  padding: 12px;
}

.error,
.login-form-input:focus.error{
  border: 1px solid red;
  outline: 0;
}
.login-form-input.error + label{
  color: red;
}
.error-message{
  display: block;
  opacity: 1;
  position: absolute;
  font-size: 12px;
  transform: translateY(50px);
  color: red;
}



/* 
.signup-form-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.signup-form-container > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

} */

/* .login-form-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.login-form-container > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
