.user-bookmarks-container,
.user-tickets-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px -15px inset;
  margin: 0 45px;
  overflow:hidden;
  margin-bottom: 50px;
}

.user-bookmarks-header,
.user-tickets-header {
  display: flex;
  align-items: center;
  height: 25vh;
  padding: 30px;
}

.user-bookmarks-header-profile-pic,
.user-tickets-header-profile-pic {
  padding: 40px;
  border-radius: 90px;
  box-shadow: 0 0 5px grey;
  margin-left: 40px;

}
.fa-user {
  font-size: 50px;
  color: grey;
}

.user-bookmarks-header-info,
.user-tickets-header-info {
  display: flex;
  flex-direction: column;
  padding: 0 50px;

}

.user-bookmarks-header-info > h2,
.user-tickets-header-info > h2 {
  margin: 0;
    font-size: 35px;
    font-weight: 400;
}
.user-bookmarks-header-info > h2,
.user-tickets-header-info > p {
  margin: 5px 0;

}

.user-bookmarks-header-links,
.user-tickets-header-links {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}

.user-bookmarks-header-links a,
.user-tickets-header-links a {
  color: black;
}

.user-bookmarks-header-links a:hover,
.user-tickets-header-links a:hover {
  color: #2416a1;
}

.user-bookmarks-header-links a:first-child,
.user-tickets-header-links a:first-child {
  padding-left: 5px;
  margin-right: 20px;
}

.user-bookmarks-index,
.user-tickets-index {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vw;
  overflow-x: scroll;
}

.user-bookmarks-index > h2,
.user-tickets-index > h2 {
  margin: 0 0px 35px 25px;
  font-weight: 400;
  font-size: 30px;
}

.user-bookmarks-info-container,
.user-tickets-info-container {
  display: flex;
  margin: 10px;
  height: 180px;
}

.user-bookmarks-info-container:hover,
.user-tickets-info-container:hover {
  box-shadow: 0 0 10px #c9c9c9;
}

.user-bookmarks-info-date,
.user-tickets-info-date {
  padding: 0 15px;
}

.user-bookmarks-info-date p,
.user-tickets-info-date p {
  margin: 0;
}

.user-bookmarks-info-like-btn {
  margin-top: 10px;
}

.user-bookmarks-info-date::first-line,
.user-tickets-info-date::first-line {
  color: #f15e43;
}

.user-bookmarks-info-img,
.user-tickets-info-img {
  flex: 0 0.5 320px;
  cursor: pointer;
  min-width: 250px;
}

.user-bookmarks-info-img img,
.user-tickets-info-img img{
  height: 100%;
}

.user-bookmarks-info,
.user-tickets-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
  background: #f1f1f1;
  min-width: 160px;
}

.user-bookmarks-info-title,
.user-tickets-info-title {
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

.user-bookmarks-info-ticket,
.user-tickets-info-ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  font-size: 14px;
}

.user-bookmarks-info-ticket p,
.user-tickets-info-ticket p{
  margin: 0;
}

.user-bookmarks-info a,
.user-tickets-info a {
  font-size: 20px;
  color: black;
  appearance: none;
  -webkit-appearance: none;
}

.user-bookmarks-info-ticket > span,
.user-tickets-info-ticket > span {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.user-tickets-info-ticket > span > button {
  -webkit-appearance: none;
    height: 30px;
    width: 65px;
    margin: 5px;
    color: #1f2fa3;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    outline: 0;
    border: 1px solid #1f2fa3;
}


